<!DOCTYPE html>

<head>
  <title>Mongo Lassi!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
</head>

<div class="container" align="right">
  {% with user = session['user'] %}
    {% if user==NULL %}
        {% block notloggedin %}
        {% endblock notloggedin %}
    {% else %}
        User: {{user}}
        {% block logoutlink %}
        {% endblock logoutlink %}
    {% endif %}
  {% endwith %}
</div>

<!-- make this pretty and stuff

    {{category}} is either 'error' (e.g. invalid user)
    or 'message' (e.g. successfully logged in!)

    you can use an if block to format messages differently from errors
    so that errors stand out more or something
-->
<div class="container" align="center">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category,message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<body>

 {% block bodycontent %}

 {% endblock bodycontent %}
 
</body>
